body {
    border: solid black;
    border-style: groove;
    width: 300px;
    height: 460px;
    margin-left:30%;
    border-radius: 10%;
    border-width: 10px;
}
.container {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 20px;
    height:75vh;
    align-content: top;
    justify-content: center;
   
}
button {
    padding-bottom: 30px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 60%;
    
}
h1 {
    text-align:right;
}
.red {
    color: red;
}
.green {
    color: green;
}
.equal {
    background-color: green;
    color:white;
 }
 #screen-box {
    display:grid;
    justify-content: center;
    grid-template-columns: 235px;
     
 }
 #screen {
    background-color: lightgreen;
    border: solid black;
    border-width: 5px 5px;
    height: 50px;
    width: 220px;
 }

 @media (maxwidth:600px) {
    body {
        margin-left: 0;
    }
    .container {
        margin-left:0;
    }
 }